<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_path }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <p>{{- site.description[page.lang] | escape -}}</p>
      </div>

      <div class="footer-col">
       {%- include social.html -%}
      </div>

    </div>

  </div>

</footer>
