<div class="wrapper" style="text-align: right; line-height: 2em">

  {%- assign posts=site.posts | where:"ref", page.ref | sort: 'lang' -%}
  {%- for post in posts -%}<a href="{{ post.url | prepend: site.baseurl }}">{%- if post.lang == 'en' -%}<img src="/assets/i18n/English.svg" onerror="this.src='/assets/i18n/English.png'" alt="English" title="English" width="32px" height="20px" style="-webkit-filter: drop-shadow(1px 1px 1px #222); filter: drop-shadow(1px 1px 1px #222); margin-right: 4px;">{%- else -%}<img src="/assets/i18n/Polski.svg" onerror="this.src='/assets/i18n/Polski.png'" alt="Polski" title="Polski" width="32px" height="20px" style="-webkit-filter: drop-shadow(1px 1px 1px #222); filter: drop-shadow(1px 1px 1px #222);">{%- endif -%}</a>{%- endfor -%}

  {%- assign pages=site.pages | where:"ref", page.ref | sort: 'lang' -%}
  {%- for page in pages -%}<a href="{{ page.url | prepend: site.baseurl }}">{%- if page.lang == 'en' -%}<img src="/assets/i18n/English.svg" onerror="this.src='/assets/i18n/English.png'" alt="English" title="English" width="32px" height="20px" style="-webkit-filter: drop-shadow(1px 1px 1px #222); filter: drop-shadow(1px 1px 1px #222); margin-right: 4px;">{%- else -%}<img src="/assets/i18n/Polski.svg" onerror="this.src='/assets/i18n/Polski.png'" alt="Polski" title="Polski" width="32px" height="20px" style="-webkit-filter: drop-shadow(1px 1px 1px #222); filter: drop-shadow(1px 1px 1px #222);">{%- endif -%}</a>{%- endfor -%}

</div>
