{%- capture meta_title -%}{%- if page.title -%}{{ page.title | escape }}{%- else -%}{{ site.title[page.lang] | escape }}{%- endif -%}{%- endcapture -%}
{%- assign og_title = meta_title -%}

{%- assign og_locale = page.lang -%}

{%- assign og_image = page.image -%}

{%- assign meta_description = site.description[page.lang] -%}
{%- assign og_description = meta_description -%}

{%- assign meta_url = page.url | prepend: site.url -%}
{%- assign og_url = meta_url -%}

{%- assign og_sitename = site.title[page.lang] -%}

{%- assign ldjson_name = site.title[page.lang] -%}
{%- capture ldjson_description -%}{%- if page.excerpt -%}{{ page.excerpt | strip_html | normalize_whitespace | escape }}{%- else -%}{{ site.description[page.lang] | escape }}{%- endif -%}{%- endcapture -%}
{%- assign ldjson_url = meta_url -%}
{%- assign ldjson_headline = meta_title -%}

<title>{%- if page.title -%}{{ page.title | append: ' | ' | append: site.title[page.lang] | escape }}{%- else -%}{{ site.title[page.lang] | append: ' | ' | append: site.description[page.lang] }}{%- endif -%}</title>
<meta property="og:title" content="{{ og_title }}" />
<meta property="og:locale" content="{{ og_locale }}" />
<meta name="description" content="{{ meta_description }}" />
<meta property="og:description" content="{{ og_description }}" />
<link rel="canonical" href="{{ meta_url }}" />
<meta property="og:url" content="{{ og_url }}" />
<meta property="og:site_name" content="{{ og_sitename }}" />
<script type="application/ld+json">
{"name":"{{ ldjson_name }}","description":"{{ ldjson_description }}","@type":"WebSite","url":"{{ ldjson_url }}","headline":"{{ ldjson_headline }}","@context":"http://schema.org"}</script>

{%- if og_image -%}
  <meta property="og:image" content="{{ og_image | prepend: site.url }}"/>
{%- endif -%}

<meta property="modified_time" content="{{ page.last_modified_at }}">
<meta property="build_time" content="{{ site.time }}">
