<ul class="social-media-list">
  {%- if site.social.minds -%}<li><a href="https://{{ site.social.minds.link | escape }}" target="_blank" title="{{ site.social.minds.caption[page.lang] | escape }}"><img class="social-icon" src="/assets/icons/{{ site.social.minds.icon }}" title="{{ site.social.minds.caption[page.lang] | escape }}"/><span class="social-caption">{{ site.social.minds.link | escape }}</span></a></li>{%- endif -%}

  {%- if site.social.steemit -%}<li><a href="https://{{ site.social.steemit.link | escape }}" target="_blank" title="{{ site.social.steemit.caption[page.lang] | escape }}"><img class="social-icon" src="/assets/icons/{{ site.social.steemit.icon }}" title="{{ site.social.steemit.caption[page.lang] | escape }}"/><span class="social-caption">{{ site.social.steemit.link | escape }}</span></a></li>{%- endif -%}

  {%- if site.social.medium -%}<li><a href="https://{{ site.social.medium.link | escape }}" target="_blank" title="{{ site.social.medium.caption[page.lang] | escape }}"><img class="social-icon" src="/assets/icons/{{ site.social.medium.icon }}" title="{{ site.social.medium.caption[page.lang] | escape }}"/><span class="social-caption">{{ site.social.medium.link | escape }}</span></a></li>{%- endif -%}

  {%- if site.social.sola -%}<li><a href="https://{{ site.social.sola.link | escape }}" target="_blank" title="{{ site.social.sola.caption[page.lang] | escape }}"><img class="social-icon" src="/assets/icons/{{ site.social.sola.icon }}" title="{{ site.social.sola.caption[page.lang] | escape }}" /><span class="social-caption">{{ site.social.sola.link | escape }}</span></a></li>{%- endif -%}

  {%- if site.social.googleplus -%}<li><a href="https://{{ site.social.googleplus.link | escape }}" target="_blank" title="{{ site.social.googleplus.caption[page.lang] | escape }}"><img class="social-icon" src="/assets/icons/{{ site.social.googleplus.icon }}" title="{{ site.social.googleplus.caption[page.lang] | escape }}"/><span class="social-caption">{{ site.social.googleplus.link | escape }}</span></a></li>{%- endif -%}

  {%- if site.social.facebook -%}<li><a href="https://{{ site.social.facebook.link | escape }}" target="_blank" title="{{ site.social.facebook.caption[page.lang] | escape }}"><img class="social-icon" src="/assets/icons/{{ site.social.facebook.icon }}" title="{{ site.social.facebook.caption[page.lang] | escape }}"/><span class="social-caption">{{ site.social.facebook.link | escape }}</span></a></li>{%- endif -%}
</ul>
