---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign posts = site.posts | where:"lang", page.lang -%}
  {%- if posts.size > 0 -%}
    <h2 class="post-list-heading">{{ site.list_title[page.lang] }}</h2>
    <ul class="post-list">
      {%- for post in posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- if site.rss -%}<p class="rss-subscribe"><a href="{{ 'feed.xml' | relative_url }}" title="{{ site.rss | escape }}"><img class="svg-icon" src="{{ '/assets/icons/icon-rss.svg' | relative_url }}" title="{{ site.rss | escape }}"> <span style="vertical-align: bottom;">{{ site.rss | escape }}</span></a></p>{%- endif -%}

  {%- endif -%}

</div>
